:root {
    --highlight-color: #88777E;
    --color-text: #43000E;
}

.dropdown {
    display: flex;
    align-items: center;
    background: #FFF;
    color: var(--color-text);
    padding: 4px 10px;
    height: 44px;
    width: 260px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 3rem;
}

.label {
    font-size: 3rem;
    margin-right: 5px;
}

.select {
    color: var(--color-text);
    background: none;
    font-size: 3rem;
    font-family: inherit;
    cursor: pointer;
    transition: outline .25s ease-out;
    border: 1px solid transparent;
    width: 170px;
}

.select:hover,
.select:focus {
    border: 1px solid var(--highlight-color);
}
