@font-face {
    font-family: 'patua_oneregular';
    src: url('../../../assets/fonts/patuaone-regular-webfont.woff2') format('woff2'), url('../../../assets/fonts/patuaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontPrimary {
    font-family: 'Helvetica', Arial, sans-serif;
}

.fontSecondary {
    font-family: 'patua_oneregular', Georgia, serif;
}
