@font-face {
    font-family: 'raleway';
    src: url('../../../assets/fonts/raleway-regular-webfont.woff2') format('woff2'), url('../../../assets/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontPrimary {
    font-family: 'Helvetica', Arial, sans-serif;
}

.fontSecondary {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}
