/* css reset / normalize styles */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:global {
    h1,
    h2,
    h3,
    h4,
    p,
    blockquote,
    figure,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }
    main,
    li {
        display: block;
    }
    h1,
    h2,
    h3,
    h4 {
        font-size: inherit;
    }
    strong {
        font-weight: bold;
    }
    a,
    button {
        color: inherit;
    }
    a {
        text-decoration: none;
    }
    button {
        border: 0;
        font: inherit;
        -webkit-font-smoothing: inherit;
        letter-spacing: inherit;
        background: none;
        cursor: pointer;
    }
     ::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
     :focus {
        outline: 0;
    }
    img {
        max-width: 100%;
        height: auto;
        border: 0;
    }
}
