<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UK election seats 1918 - 2017</title>
  <meta name="description" content="Parliamentary seats won in the United Kingdom from 1918 to 2017. An interactive data visualization highlighting seat proportions for each year. Discover proportion of seats won and lost by parties for each election.">
</head>

<body>
  <div class="container">
    <section class="social">
      <iframe src="https://ghbtns.com/github-btn.html?user=marinda-s&repo=uk-election-charts&type=star" frameborder="0" scrolling="0"
        width="60px" height="30px"></iframe>
    </section>
    <main id="root"></main>
  </div>
</body>

</html>
