<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UK election seats 1918 - 2017</title>
  <meta name="description" content="An interactive treemap, visualizing proportions of seats won in each UK election from 1918 to 2017.">
</head>

<body>
  <div class="container">
    <section class="social">
    </section>
    <main id="root"></main>
  </div>
</body>

</html>
