:root {
    --highlight-color: #5649e2;
}

.footer {
    display: flex;
    align-items: center;
    height: 40px;
}

.smallText {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 5px 4px 20px;
    min-height: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.smallText:first-child {
    border-right: none;
}

.smallTextLink {
    border-bottom: 1px solid #ddd;
    transition: all .25s ease-out;
    margin-right: 5px;
    display: inline-block;
}

.smallTextLink:hover,
.smallTextLink:focus {
    border-bottom: 1px solid currentColor;
    color: var(--highlight-color);
}

.github {
    height: 20px;
}
