:root {
    --highlight-color: #5649E2;
    --darkColor: #88777E;
}

.app {
    padding: 10px;
    height: 100%;
    composes: fontPrimary from "../../shared/styles/fonts.css";
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.playButton {
    font-size: 3rem;
    padding: 4px 10px;
    background: white;
    border-radius: 5px;
    margin-left: 10px;
    min-width: 135px;
    display: block;
}

.playButton:hover,
.playButton:focus {
    background: var(--darkColor);
    color: white;
    transition: background .25s ease-out;
}

.buttonContent {
    display: flex;
    align-items: center;
}

.playIcon {
    fill: currentColor;
    stroke: currentColor;
    width: 20px;
    height: 16px;
    margin-left: 8px;
}

.pauseIcon {
    fill: currentColor;
    stroke: currentColor;
    margin-left: 8px;
    width: 22px;
    height: 16px;
}

.treemapContainer {}
